<h1>New game</h1>
<ul>
  <% @letters.each do |letter| %>
    <li class="letter"><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <label for="sugg">What is the longest word you can find?</label>
  <br>
  <input type="text" name="sugg" id="sugg">
  <input type="submit" value="Play">
</form>
